.header {
    background-color: crimson;
    color: snow;
    padding: 0.5ch 1ch;

    height: 3rem;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.header img {
    border-radius: 1ch;
    align-self: stretch;
    height: 100%;
}

.header span {
    font-size: 1.6em;
    font-family: 'Papyrus';
}